<div class="container">
  <form action="/next" method="POST">
    <% @size.times do |i| %>
      <input type="hidden" name="<%= [i] %>" value="<%= params["#{i}"] %>">
    <% end %>
      <p>
        <label for="POST-question<%= @size %>"><center><%= @questions[@size] %></center></label>
        <br><br>
        <% options = [
        "<label for='ashley'><input type='radio' id='ashley' name='#{@size}' value='-1'>&nbsp;#{@options[@size][0]}</input></label><br>",
        "<label for='blake'><input type='radio' id='blake' name='#{@size}' value='1'>&nbsp;#{@options[@size][1]}</input></label><br>",
        "<label for='neither'><input type='radio' id='neither' name='#{@size}' value='0'>&nbsp;#{@options[@size][2]}</input></label><br>"
        ].shuffle
        %>
        <% options.each do |option| %>
            <%= option %>
        <% end %>
      </p>
    <div class="button">
      <button type="submit" value="submit">Score me!</button>
    </div>
  </form>
</div>