
<form action="/result" method="POST">
  <% @questions.size.times do |i| %>
    <p>
      <label for="POST-question<%= i %>"><%= @questions[i] %></label>
      <br><br>
      <input type="radio" id="ashley" name="<%= i %>" value="-1">&nbsp;<%= @options[i][0] %></input>
      <br>
      <input type="radio" id="blake" name="<%= i %>" value="1">&nbsp;<%= @options[i][1] %></input>
      <br>
      <input type="radio" id="neither" name="<%= i %>" value="0">&nbsp;<%= @options[i][2] %></input>
      <br><br>
    </p>
  <% end %>
  <button class="button" type="submit" value="submit">Score me!</button>
</form>